*{
    margin: 0;
    padding:0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 24px;
    height: 100px;
    background-color: #C2EFD4;
}
body{
    overscroll-behavior: none;
overflow-block: auto;    
}

.header .logo {
    font-size: 3rem;
    font-weight: 700;
    color: #224F34;
    text-decoration: none;
    padding-left: 40px;
}

.navbar {
    display: flex;
    gap: 50px;
}

.navbar a {
    color: #224F34;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
}

.navbar a:hover {
    color: #0077cc;
}

.header .login-btn {
    font-size: 1.5rem;
    padding: 8px 16px;
    background-color: #C2EFD4;
    border: 1px solid #224F34;
    border-radius: 4px;
    color: #224F34;
    cursor: pointer;
}

.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2EFD4;
    gap: 50px;
    padding: 60px 50px;
}

.hero-text-container {
    padding-left: 80px;
}

.hero-text {
    font-size: 5rem;
    color: #224F34;
    margin: 0 0 20px;
}

.hero-subtext {
    font-size: 2.5rem;
    color: #267D49;
    margin-bottom: 30px;
}

.hero-image {
    max-width: 80%;
    width: 100%;
    padding-left: 70px;
}

.explore-btn {
    border: none;
    font-size: 1.5rem;
    color: white;
    padding: 20px 30px;
    background: #224F34;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.explore-btn:hover {
    background-color: #267D49;
}

.sellingSection {
    text-align: center;
    background-color: white;
}

.sellingHeading {
    padding-top: 60px;
    font-size: 3rem;
    margin-bottom: 10px;
    color: #224F34;
    margin-top: 50px;
}

.sellingSection > p {
    color: #555;
    font-size: 1.7rem;
    margin-bottom: 40px;
}

.productContainer {
    display: flex;
    margin-top: 5%;
    align-items: center;
    gap: 50px;
    max-width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.productCard {
    width: 430px;
    height: 720px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.productImage1,
.productImage2,
.productImage3 {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
    transform: scale(1.);
}

.productImage1 {
    background-color: #7dcb9ad4;
}

.productImage2 {
    background-color: #86e1a88f;
}

.productImage3 {
    background-color: #7dcb9a49;
}

.productInfo {
    padding: 10px 10px 20px;
}

.productName {
    font-size: 26px;
    margin: 10px 0;
    color: #333;
}

.productPrice {
    font-size: 22px;
    font-weight: bold;
    color: #444;
    margin: 0;
}

.seeall {
    font-size: 1.5rem;
    padding: 10px 20px;
    color: #224F34;
    background-color: transparent;
    border: 1px solid #224F34;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
}

.seeall:hover {
    background-color: #224F34;
    color: white;
}

.productsSection {
    background-color: white;
    padding: 50px 55px 80px;
    text-align: center;
}

.productsHeading {
    font-size: 3rem;
    color: #224F34;
    margin-bottom: 60px;
}

.productTabs {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 65px;
}

.productTabs a {
    text-decoration: none;
    color: #444;
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 8px;
}

.productTabs a:hover,
.productTabs .active {
    color: #224F34;
    border-bottom: 2px solid #224F34;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px 28px;
    max-width: 80%;
    margin: auto;
}

.shopProduct {
    text-align: center;
}

.shopProduct img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    display: block;
}

.shopProduct h3 {
    font-size: 1.25rem;
    color: #333;
    margin: 25px 0 12px;
}

.shopProduct p {
    font-size: 1.15rem;
    color: #444;
    margin: 0;
}

.shopProduct p span {
    margin: 0 20px;
    color: #777;
}

.offerSection{
    background-color: #C2EFD4;
    max-width: 75%;
    display: flex;
    align-items: center;
    margin: auto;

    margin-top: 100px;
    padding-bottom: 50px;
}

.offerImgSize{
    height: 400px;
    overflow: hidden;
}
.exclusiveHead{
    font-size: 3rem;
    color: #224F34;
    padding-right: 30px;
    padding-top: 30px;
}
.exclusiveText{
    font-size: 1.5rem;
    color: #224F34;
    padding-right: 30px;
}

.timeOut{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.days{
    background-color: white;
    padding: 10px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.hours{
    background-color: white;
    padding: 10px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.min{
    background-color: white;
    padding: 10px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.buyNow{
    font-size: 1rem;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #224F34;
    border: 1px solid #224F34;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.daysTxt, .hoursTxt, .minTxt{
    color: #224F34;
}

.daysOut, .hoursOut, .minOut{
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: #224F34;
}

.designerCloth{
    margin-top: 7%;
}

.designerHead{
    text-align: center;
    font-size: 3rem;
    color: #224F34;
    margin-bottom: 10px;
}

.designerText{
    text-align: center;
    font-size: 1.5rem;
    color: #224F34;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 70px;
    
}

.designerContainer {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding: 30px;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


.designerCard1 {
    width: 430px;
    height: 566px;
    border-radius: 3px;
    background-color: #D3E2D7;
    position: relative;
    overflow: hidden;
}


.DC1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: 0;
}



.designerCard2{
    width: 430px;
    height: 566px;
    border-radius: 3px;
    background-color: #3c423e47;
    position: relative;
    overflow: hidden;
}

.designerCard3{
    width: 430px;
    height: 566px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-color:#2f323059;  
}


.DC1{
    height: 570px;
    width: 430px;
    object-fit: cover;
    overflow: hidden;
    
    
}

.DC2{
    height: 960px;
    width: 430px;
    object-fit: cover;
    overflow: hidden;
    
}

.DC3{

    height: 570px;
    width: 430px;
    object-fit: cover;
    overflow: hidden;

    
}



.feedbackSection{
    margin-top: 5%;
    text-align: center;
    font-size: 2rem;
    color: #224F34;
    margin-bottom: 60px;
}

.feedbackSection {
    width: 80%;
    max-width: 1200px;
    margin: 80px auto;
}

.feedbackHeading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 45px;
}

.testimonialContainer {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.testimonialCard {
    width: calc((100% - 50px) / 3);
    min-height: 180px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
}

.testimonialCard.active {
    background-color: #b9efce;
}

.quote {
    font-size: 42px;
    line-height: 25px;
    font-weight: bold;
    color: #285b43;
    font-family: Georgia, serif;
}

.testimonialCard h3 {
    margin: 18px 0;
    font-size: 17px;
    color: #285b43;
    font-family: Georgia, serif;
}

.testimonialCard p {
    margin: 0;
    font-size: 13.5px;
    line-height: 1.4;
    color: #666;
}

.testimonialButtons {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 80px;
}

.testimonialButtons button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

.prevBtn {
    background-color: white;
    color: #285b43;
}

.nextBtn {
    background-color: #b9efce;
    color: #285b43;
}

.footer {
    width: 100%;
    background-color: #205737;
    color: white;
    padding: 60px 0;
    box-sizing: border-box;
}

.footerContainer {
    width: 80%;
    max-width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1.2fr 0.7fr 0.7fr 1.4fr;
    gap: 50px;
}

.footerBrand h2 {
    margin: 0 0 32px;
    font-family: Georgia, serif;
    font-size: 38px;
}

.footerBrand h3,
.footerColumn h3,
.footerSubscribe h3 {
    margin: 0 0 20px;
    font-family: Georgia, serif;
    font-size: 16px;
}

.socialIcons {
    display: flex;
    padding-left: 120px;
    gap: 25px;
}

.socialIcons a {
    width: 24px;
    height: 24px;

    border: 1px solid #b9e8c8;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #b9e8c8;
    text-decoration: none;
    font-size: 16px;
}

.footerColumn {
    display: flex;
    flex-direction: column;
}

.footerColumn a {
    color: #b9e8c8;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 16px;
}

.footerSubscribe h3 {
    text-decoration-color: #66c8f0;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
}

.emailBox {
    padding-left: 30%;
    display: flex;
    width: 80%;
    height: 40px;
}

.emailBox input {
    flex: 1;
    min-width: 0;

    padding: 0 18px;

    border: 1px solid #b9e8c8;
    border-right: none;

    outline: none;

    background-color: transparent;
    color: white;

    font-size: 14px;
}

.emailBox input::placeholder {
    color: white;
}

.emailBox button {
    width: 82px;

    border: none;

    background-color: #9ff0b8;
    color: #205737;

    font-size: 12px;
    font-weight: bold;

    cursor: pointer;
}

.footerBottom {
    width: 80%;
    max-width: 940px;
    margin: 110px auto 0;

    display: flex;
    align-items: center;
    gap: 25px;
}

.footerLine {
    height: 1px;
    background-color: #9ee8b6;
    flex: 1;
}

.footerLinks {
    display: flex;
    gap: 25px;
}

.footerLinks a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

